doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/loader.css")
        link(rel="icon" type="image/svg+xml" href="#")
        script(src="/js/bootstrap.bundle.min.js")
        
        title Document
    body
        .container
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                .container-fluid
                    a.navbar-brand() Signature Verification
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNav.collapse.navbar-collapse
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(aria-current='page' href='/' class=url === "/" ? "active": undefined) Classifiers
                            li.nav-item
                                a.nav-link(href='/add' class=url === "/add" ? "active": undefined) Add Classifier

            .w-50.m-auto.mt-3
                - if(typeof (successMessage) !== 'undefined')
                    .alert.alert-success.alert-dismissible.fade.show(role='alert')= successMessage
                        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
                - if(typeof (errorMessage) !== 'undefined')
                    .alert.alert-danger.alert-dismissible.fade.show(role='alert')= errorMessage
                        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')

            block content
        script(src="/js/script.js")


